BODY {
    font-family: Verdana, sans-serif;
    background: url(../image/background.png) repeat-x top white;
    background-attachment: fixed;
}

#page {
    margin: 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px gray solid;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#page h2 {
    color: #0f2a44;
    font-weight: bold;
}

#header {
    width: 890px;
    height: 85px;
    border-bottom: 1px #aaa solid;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
}

#header H1 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

#navbar {
    position: absolute;
    top: 65px;
    right: 1px;
    font-size: 14px;
    color: #aaa;
}

.navbar {
    text-decoration: none;
}

#footer {
    padding-top: 6px;
    margin-top: 10px;
    border-top: 1px #aaa solid;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.post {
    margin: 10px;
    padding: 10px;
    border-top: 1px #ddd dashed;
    color: #444;
}

.post i {
    font-size: 10px;
    color: #999;
}

#postform {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 24px;
    border-radius: 5px;
    position: relative;
    padding: 12px;
    margin: 10px;
    background-color: #eee;
}

#postform textarea{
    width: 650px;
    margin-top: 12px;
    border-radius: 5px;
    font-size: 18px;
}

.rightlink {
    text-align: right;
    margin-right: 30px;
    color: #aaa;
}

.rightlink a {
    color: #f55000;
    text-decoration: none;
}

a.username {
    max-width: 800px;
    max-height: 95px;
    font-size: 18px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: #629e43;
    margin-right: 10px;
    text-overflow: ellipsis;
}

h2.username {
    color: #66dd66;
    margin-left: 15px;
}

a.button {
    margin-left: 15px;
    text-decoration: none;
    border: 1px #aaa dotted;
    padding: 3px;
    background-color: #eee;
    color: #444;
    font-size: 12px;
}
.tweet_button {
    border: solid skyblue;
    color: skyblue;
    padding: 6px 12px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.tweet_button:hover {
    background-color: skyblue;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#homeinfobox {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #ccc;
    width: 190px;
    font-size: 16px;
    color: white;
    padding: 3px;
}

#welcomebox{
    width: 890px;
    height: 550px;
    padding-top: 10px;
    position: relative;
    font-size: 15px;
    line-height: 1.5;
}
#registerbox{
    width: 400px;
    height: 450px;
    background-color: #e3e8e4;
    float: right;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px #c8d8bf solid;
    margin-right: 0px;
    margin-left: 15px;
}